<% page.posts.each(function(post){ %>
<div class="right-post">
<%- partial('_partials/index_article',{post: post}) %>
</div>
<%　}) %>
<% if(page.total >1){ %>
<nav id="page-nav">
	<%　var prev_text="&laquo;" +__('prev'); var next_text=__('next')+"&raquo;"%>
	<%- paginator({
	prev_text:prev_text,
	next_text:next_text
}) %>
</nav>

<% } %>



