<% if(site.posts.length){ %>
	<div class="widget-wrap">
		<h3 class="widget-title fa fa-archive"><%= __('archive_a') %></h3>
		<div class="widget">
			<%- list_archives({
				type: theme.archive_type,
				show_count: theme.show_count
			}) %>
		</div>
	</div>
<% } %>