<% if (site.tags.length){ %>
	<div class="widget-wrap">
		<h3 class="widget-title fa fa-tags"><%= __('tags') %></h3>
		<div class="widget tags">
		<%- list_tags({
			show_count: theme.show_count,
			style: "span",
			separator: " "

			
		}) %>
		</div>
	</div>
<% } %>