#header-left
	margin-left:2em
	order: 1
#header-title a
	color: $color-a
	text-decoration: none
#header-title a:hover
	text-decoration: none
	color: $color-a-hover
#header-right
	order: 2
	margin-right: 2em
#header-right a
	font-size:1.1rem
	margin-left: 2em
	color: $color-a
	text-decoration: none
#header-right a:hover
	color: $color-a-hover
#header-title a 
	font-size: 1.5rem
	
	vendor(transition, font-size 0.5s ease-in-out)
#header-title a:hover
	font-size 2rem