.right-content
	display: flex
	flex-direction:column
	align-items:center
.right-post
	width:80%
.index-article
	background-color:$color-background
	margin-top: 2em
	box-shadow: 10px 10px 5px #888
.article-meta 
	color: $color-a
	margin-top:.1em
	margin-left: 1em
.article-inner
	margin-top:0.5em
	border-bottom: 1px solid #ddd
	padding-left: 1em
.article-header h1 a
	color:$color-article-title
	text-decoration: none
.article-header h1 a:hover
	color:$color-article-title-hover
.article-entry
	color: $color-text
.article-more-link a
	color: $color-a
	text-decoration: none
	border: 1px solid #ddd
	border-radius:5px
.article-more-link a:hover
	color: $color-a-hover
	background: #F8F8F8;
.article-category-link
	color: $color-category
	text-decoration: none
	margin-left: 1em
.article-category a:hover
	color: $color-category-hover