#page-nav
	display: flex
	justify-content: center
	margin-top: .5em
#page-nav .page-number,#page-nav .extend
	display:inline-block
	width:2em
	height:2em
	margin-left: 1em
	text-align: center
	line-height:30px
#page-nav .current
	background-color: $color-background

#page-nav a
	text-decoration:none
	color:$color-a
#page-nav a:hover
	color:$color-a-hover
	background-color: #fff