.page-meta .fa-wrap
	margin-left: 1rem
	color: #6E7173
#post .post-title
	color:#555
	font-size:1.3rem
	margin-left: 1rem
#post .post-content
	color:#444
	margin-left:1rem
	& h1
		font-size: 1.3rem
	& ul li
		list-style: none
figure
	background-color:#f7f8f8
	margin: 0
.gutter
	background-color:#eff2f3
	color: #869194
	padding-left: 10px
	padding-right: 10px
	text-align: right
.line
	font-size:1rem