//颜色定义规范
$color-background = #444
$color-a=#999
$color-a-hover=#444
$color-background-d=#1e1a1a
$color-widget-title=#994
$color-text=#fff
$color-category=#994
$color-article-title=#994
$color-article-title-hover=#fff
$color-category-hover=#fff