//颜色定义规范
$color-background = #fff
$color-a=#999
$color-a-hover=#444
$color-widget-title=#6E7173
$color-text=#999
$color-category=#999
$color-article-title=#6E7173
$color-article-title-hover=#443
$color-category-hover=#444