<div class="bottom-nav"></div>
<div class="bottom-info">
	&copy; <%= date(new Date(),'YYYY')%> <%= config.author||config.title %><br>
	<%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
	<%= __('theme') %> <a href="https://github.com/lizehongss/hexo-theme-zhl" target="_blank">zhl</a>
</div>